@import '../common/styles/color';
#layout {
  width: 100%;
  height: 100%;
  display: flex;
  header {
    position: fixed;
    display: block;
    width: 100%;
    height: 60px;
    background-color: $color-black-light;
    z-index: 99999;
    .logo {
      float: left;
      display: inline-block;
      vertical-align: middle;
      line-height: 60px;
      width: 182px;
      margin-left: 35px;
      margin-right: 40px;
      font-size: 40px;
      font-weight: bold;
      text-align: right;
      color: $color-white;
      background: url('../assets/logo.png') no-repeat scroll 20px 5px/50px 50px;
    }
    .navigator {
      display: inline-block;
      width: auto;
    }
    .tool {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 12px;
      height: 36px;
      min-width: 25rem;
      .el-select {
        width: 6rem;
      }
      .el-input {
        max-width: 13rem;
      }
      .el-dropdown {
        margin-left: 1rem;
        color: $color-gray;
      }
    }
  }
  .container {
    display: block;
    overflow-y: none;
    margin-top: 60px;
  }
}
