@import "../common/base.scss";
#layout {
  header {
    display: flex;
    background-color: $light-black;
    .logo {
      width: 180px;
      font-size: 40px;
      font-style: italic;
      font-weight: bold;
      margin-right: 1.5rem;
      color: $white;
      text-align: right;
      padding: 5px;
      background: url("../assets/logo.png") no-repeat scroll 20px 5px/50px 50px;
    }
    .tool {
      position: absolute;
      right: 0;
      top: 12px;
      height: 36px;
      min-width: 25rem;
      .el-select {
        width: 6rem;
      }
      .el-input {
        max-width: 13rem;
      }
      .el-dropdown {
        margin-left: 1rem;
        color: $gray;
      }
    }
  }
}
