@import "../common/base.scss";
#layout {
  header {
    display: flex;
    background-color: $light-black;
    .logo {
      width: 200px;
      font-size: 30px;
      font-weight: bold;
      color: $white;
      text-align: center;
      padding: 10px;
      background: url("../assets/logo.png");
    }
    .tool {
      position: absolute;
      right: 0;
      top: 12px;
      height: 36px;
      min-width: 25rem;
      .el-select {
        width: 6rem;
      }
      .el-input {
        max-width: 13rem;
      }
      .el-dropdown {
        margin-left: 1rem;
        color: $gray;
      }
    }
  }
}
