@import "../common/styles/color";
#layout {
  width: 100%;
  height: 100%;
  display: flex;
  direction: column;
  header {
    position: fixed;
    display: block;
    width: 100%;
    height: 60px;
    background-color: $color-black-light;
    z-index: 99999;
    .logo {
      display: inline-block;
      vertical-align: middle;
      line-height: 60px;
      width: 190px;
      position: relative;
      top: -28px;
      margin-left: 25px;
      margin-right: 40px;
      font-size: 40px;
      font-weight: bold;
      text-align: right;
      color: $color-white;
      background: url("../assets/logo.png") no-repeat scroll 20px 5px/50px 50px;
    }
    .navigator {
      display: inline-block;
      width: auto;
      .menu {
        background-color: $color-black-light;
      }
    }
    .tool {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 12px;
      height: 36px;
      min-width: 25rem;
      .el-select {
        width: 6rem;
      }
      .el-input {
        max-width: 13rem;
      }
      .el-dropdown {
        margin-left: 1rem;
        color: $color-gray;
      }
    }
  }
  .router {
    display: flex;
    overflow-y: none;
    margin-top: 60px;
  }
}
