<main id="layout">
  <header>
    <div class="logo">
      Aves
    </div>
    <el-menu theme="dark" mode="horizontal">
      <el-menu-item index="1">Case</el-menu-item>
      <el-menu-item index="2">OCR</el-menu-item>
      <el-submenu index="3">
        <template slot="title">Template</template>
        <el-menu-item index="3-1">Tree</el-menu-item>
        <el-menu-item index="3-2">Trail</el-menu-item>
        <el-menu-item index="3-3">Record</el-menu-item>
      </el-submenu>
      <el-menu-item index="4">Repository</el-menu-item>
    </el-menu>
    <div class="tool">
      <el-select v-model="value" placeholder="请选择">
        <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
        </el-option>
      </el-select>
      <el-input placeholder="请选择日期" icon="search" v-model="input2" :on-icon-click="handleIconClick">
      </el-input>
      <el-dropdown>
        <span class="el-dropdown-link">
          <i class="fa fa-user"></i>
          <span>用户</span>
        <i class="el-icon-caret-bottom el-icon--right"></i>
        </span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item>Update Password</el-dropdown-item>
          <el-dropdown-item>771569612</el-dropdown-item>
          <el-dropdown-item divided>Quit</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </header>
  <router-view></router-view>
</main>
