<main id="layout">
  <header>
    <div class="logo">
      Aves
    </div>
    <nav class="navigator">
      <el-menu class="menu" mode="horizontal" :router="true">
        <el-menu-item index="dashboard">Dashboard</el-menu-item>
        <el-submenu index="demo">
          <template slot="title">Helper</template>
          <el-menu-item index="demo">demo-1</el-menu-item>
          <el-menu-item index="demo">demo-2</el-menu-item>
          <el-menu-item index="demo">demo-3</el-menu-item>
        </el-submenu>
        <el-submenu index="tool">
          <template slot="title">Tool</template>
          <el-menu-item index="tool">tool-1</el-menu-item>
          <el-menu-item index="tool">tool-2</el-menu-item>
          <el-menu-item index="tool">tool-3</el-menu-item>
        </el-submenu>
      </el-menu>
    </nav>
    <div class="tool">
      <el-select placeholder="Select" v-model="type"></el-select>
      <el-input placeholder="Search" suffix-icon="el-icon-search" v-model="search" v-on:click="onSearch"></el-input>
      <el-dropdown trigger="click" @command="handleCommand">
        <span class="el-dropdown-link">
          User
          <i class="el-icon-caret-bottom el-icon--right"></i>
        </span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item>Update Info</el-dropdown-item>
          <el-dropdown-item command="quit" divided>Quit</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </header>
  <!-- router view -->
  <router-view class="router"></router-view>
</main>
