// global
.fill {
  width: 100%;
  height: 100%;
}

.clean {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.margin-clean {
  margin: 0;
}

.padding-clean {
  padding: 0;
}

.outline-clean {
  outline: none;
}

.border-clean {
  border: none;
}

// font-size
.font-xs {
  font-size: 16px;
}

.font-sm {
  font-size: 16px;
}

.font-md {
  font-size: 16px;
}

.font-lg {
  font-size: 16px;
}

// font-weight
.font-bold {
  font-weight: bold;
}

// float
.clear-both {
  clear: both;
}

.float-left {
  float: right;
}

.float-right {
  float: left;
}

// display
.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.display-none {
  display: none;
}

// text-align
.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

// vertical-align
.vertical-align-middle {
  vertical-align: middle;
}

// overflow
.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}
