// infomation
$color-primary: $color-blue;
$color-success:#13CE66;
$color-warning:#F7BA2A;
$color-danger:#FF4949;
// scheme
$color-blue:#20A0FF;
$color-blue-light:#58B7FF;
$color-blue-dark:#1D8CE0;
$color-pink: #FF0097;
$color-cyan: #4EB3B9;
$color-black:#1F2D3D;
$color-black-light:#324057;
$color-black-light-extra:#475669;
$color-silver:#8492A6;
$color-silver-light:#99A9BF;
$color-silver-light-extra:#C0CCDA;
$color-gray:#D3DCE6;
$color-gray-light:#E5E9F2;
$color-gray-light-extra:#EFF2F7;
$color-white:#FFFFFF;
$color-white-dark:#F9FAFC;
