@import "./base.scss";
html {
  @include fill;
  @include clean;
  body {
    @include fill;
    @include clean;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    background: $dark-white;
    #app {
      @include fill;
      @include clean;
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s
}

.fade-enter,
.fade-leave-to {
  opacity: 0
}
