@import "../common/styles/color";
#dashboard {
  display: flex;
  .left {
    display: inline-block;
    width: 15rem;
    background: $color-gray;
    padding: 1rem;
    .el-input,
    .el-select {
      width: 15rem;
      display: block;
      margin-bottom: 1rem;
    }
    .operation {
      float: right;
    }
  }
  .right {
    display: inline-block;
    width: 100%;
    background: $color-white;
    .table {
      height: 90%;
      .head {
        height: 40px;
        background-color: $color-gray-light-extra;
        span {
          display: inline-block;
          width: 30%;
          font-weight: bold;
          font-size: 14px;
          padding: (40px - 14px)/2;
        }
      }
      .body {
        span {
          display: inline-block;
          width: 30%;
        }
      }
    }
    .pagination {
      text-align: right;
    }
  }
}
