@import "../common/base.scss";
#dashboard {
  @include fill;
  display: flex;
  .left {
    background: $gray;
    padding: 1rem;
    .el-input,
    .el-select {
      width: 15rem;
      display: block;
      margin-bottom: 1rem;
    }
    .operation {
      float: right;
    }
  }
  .right {
    width: 100%;
    background: $white;
    .table {
      height: 90%;
      .head {
        height: 40px;
        background-color: $extra-light-gray;
        span {
          display: inline-block;
          width: 30%;
          font-weight: bold;
          font-size: 14px;
          padding: (40px - 14px)/2;
        }
      }
      .body {
        span {
          display: inline-block;
          width: 30%;
        }
      }
    }
    .pagination {
      margin: 1.5rem 1rem;
      text-align: right;
    }
  }
}
