@import '../common/styles/color';
#login {
  width: 100%;
  height: 100%;
  background: url('../assets/login/background.jpg') repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  header,
  form {
    position: relative;
    top: -8%;
  }
  header {
    font-size: 3rem;
    color: $white;
    text-align: left;
    width: 540px + 80px;
    position: relative;
    left: 10px;
    font-weight: bold;
  }
  form {
    width: 540px + 80px;
    height: 80px;
    background: url('../assets/login/input.jpg') no-repeat;
    input {
      float: left;
      margin-left: 17px;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 15px;
      width: 225px;
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      color: #666;
      font-weight: bold;
      border: none;
      background-color: #f5f6f7;
      outline: none;
    }
    button {
      height: 55px;
      width: 60px;
      margin: 11px 16px;
      font-weight: bold;
      color: $white;
      font-size: 15px;
      background: $danger;
      cursor: pointer;
      border-radius: 0 5px 5px 0;
      outline: none;
      border: none;
      &:hover {
        opacity: 0.9;
      }
      &:active {
        background: red;
      }
    }
  }
}
